.st_tooltip {
   font-family: Arial, sans-serif;
   font-size: 24pt;
   line-height: normal;
   text-align: center;
   text-decoration: none;
   width: 250px;
}

.st_tooltip span.top {
   color: #000;
   background: url(images/white.gif) no-repeat top;
   padding: 30px 8px 0;
}

.st_tooltip b.bottom {
   color: #999;
   background: url(images/white.gif) no-repeat bottom;
   font: lighter 0.75em Arial, sans-serif;
   padding: 3px 8px 15px;
}
